@import "../styles.scss";

:host {
    .body{
        grid-template-columns: 200px 1fr;
        grid-template-rows: 40px 1fr;
        height: 100vh;
        width: 100vw;
    }
    app-header{
        grid-column:1/3 ;
        grid-row: 1/2;
    }
    app-sidebar{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}


