/* You can add global styles to this file, and also import other style files */

// disable
$disble: 0.65;
$hover-color: rgba(255,255,255, 0.12);

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"), url(./assets/fonts/Roboto-Bold.ttf) format("truetype");
}

:host{
    @import "assets/scss/navbar";
    @import "assets/scss/grid";

    a {
        text-decoration: none !important;
    }
    
    ul >li {
        list-style: none;
    }
    // disable
    .disable{
        opacity: $disble;
    }
}
body{
    font-family: "Roboto-Regular";
    height: 100%;  
    margin: 0; 
}


